:root {
  --primary-bg-color: #77e4c8;
  --primary-text-color: #4535c1;
  --secondary-color: #478ccf;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > input {
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid gray;
}

form > div > label {
  margin-bottom: 5px;
}

form > button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: var(--primary-text-color);
}

@font-face {
  font-family: "ArcadeClassic";
  src: url("../css/ArcadeClassic.TTF") format("truetype");
}

button {
  cursor: pointer;
}

.arcade-font {
  font-family: "ArcadeClassic"; /* Apply the Arcade Classic font */
  font-size: 18px; /* Optional: Adjust font size */
  color: #4535c1; /* Optional: Change color */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid gray;
}

th,
td {
  padding: 10px;
}
