@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@font-face {
  font-family: "ArcadeClassic";
  src: url("../css/ArcadeClassic.TTF") format("truetype"); /* Add other formats if available */
}

.arcade-font {
  font-family: "ArcadeClassic"; /* Apply the Arcade Classic font */
  font-size: 18px; /* Optional: Adjust font size */
  color: #4535c1; /* Optional: Change color */
}

:root {
  --primary-bg-color: #77e4c8;
  --primary-text-color: #4535c1;
  --secondary-color: #478ccf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ArcadeClassic", sans-serif;
  background-color: var(--primary-bg-color);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-50 {
  gap: 50px;
}

.p-5 {
  padding: 5px;
}

.bg-dark {
  background-color: var(--secondary-color);
}

.p-50 {
  padding: 50px;
}

.wrap {
  flex-wrap: wrap;
}

.navbar a,
.navbar h3 {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 20px;
}

.navbar h3 i {
  font-size: 20px;
  padding-top: 15px;
}

.logo {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
}

.product-card {
  background-color: var(--primary-bg-color);
  width: 150px;
  text-align: center;
  padding: 15px 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.w-150 {
  width: 150px;
}

.w-300 {
  width: 300px;
}

.w-500 {
  width: 500px;
}

.h-40 {
  height: 40px;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.filters {
  padding-top: 50px;
}

.years {
  padding-left: 10px;
}

.badge {
  border-radius: 10px;
  background-color: #bfff00;
  padding: 10px 10px;
}

.w-100 {
  width: 100px;
}

.year-filter {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  cursor: pointer;
}
